<ul>
  <li><a href="/index.html">Home</a></li>
  <li><a href="/resume.html">Résumé</a></li>
  <li><a href="https://github.com/gjp">Github</a></li>
  <li><a href="mailto:six.impossible@gmail.com">Email</a></li>
  <li><a href="http://twitter.com/#!/six_impossible">Twitter</a></li>
  <li><span class="section">Recent Activity</span></li>
  <li><a href="/mendicant.html">Mendicant University</a></li>
  <li><span class="section">Past Projects</span></li>
  <li><a href="/aldimeals.html">ALDImeals.com</a></li>
  <li><a href="/galley.html">Galley</a></li>
</ul>